<footer class="footer">
  <small>
    The SWE Library System by Group 9 (Spring 2016)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
